bitarray==3.7.2
bitstring==4.3.1
blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
Flask==3.1.2
idna==3.10
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
lifxlan==1.2.8
lxml==6.0.2
MarkupSafe==3.0.3
pywemo==1.4.0
requests==2.32.5
urllib3==2.5.0
Werkzeug==3.1.3
